<footer class="footer bg-dark mt-auto py-3 d-flex justify-content-evenly align-items-center">
    <div class="container w-25">
        <span class="text-light"> © Rental Dhoondo 2023</span>
    </div>
    <div class="container w-25">
        <span class="text-light">Made with ❤️ by Aaryak</span>
    </div>
</footer>