<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-md-6 offset-md-3 card">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading card-title">
                    <%= err.message %>
                </h4>
                <p class="card-text">
                    <%= err.stack %>
                </p>
                <hr>
                <p class="mb-0">
                    Status Code: <%= err.statusCode %>
                </p>
            </div>
        </div>
    </div>