<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New rental</title>
</head>

<body>
    <form action="/rentals" method="post">
        <div>
            <label for="title">Enter name of rental place:</label>
            <input type="text" id="title" name="title">
            <label for="location">Enter location of rental place:</label>
            <input type="text" id="location" name="location">
            <button>Add rental</button>
        </div>
        <a href="/rentals">Cancel</a>
    </form>
</body>

</html>